﻿@inherits ComponentBase<SurveyPromptModel>
<div class="alert alert-secondary mt-4" role="alert">
    <span class="oi oi-pencil mr-2" aria-hidden="true"></span>
    <strong>@Model.TitleParameter</strong>

    <span class="text-nowrap">
        Please take our
        <a target="_blank" class="font-weight-bold" href="https://go.microsoft.com/fwlink/?linkid=2093904">brief survey</a>
    </span>
    and tell us what you think.
</div>

@code
{

    [Parameter] public string Title { get; set; }

}
