﻿@page "/counter"
@inherits ComponentBase<CounterModel>

<h1>Counter</h1>

<p>Current count: @Model.CurrentCount</p>

<button class="btn btn-primary" @onclick="@Model.IncrementCount">Click me</button>
